# Hexo Configuration
## Docs: https://hexo.io/docs/configuration.html
## Source: https://github.com/hexojs/hexo/

# Site
title: 小凯的个人博客
subtitle: '学习、思考、分享'
description: '记录技术学习、生活感悟、费曼学习法实践'
keywords: '技术, 学习, 思考'
author: 小凯
language: zh-CN
timezone: 'Asia/Shanghai'

# URL
url: https://kaicmf.github.io
root: /
permalink: :year/:month/:day/:title/
permalink_defaults:
  lang: en

# Directory
source_dir: source
public_dir: public
tag_dir: tags
archive_dir: archives
category_dir: categories
code_dir: downloads/code
i18n_dir: :lang
skip_render:

# Writing
new_post_name: :year-:month-:day-:title.md
default_layout: post
titlecase: false
external_link:
  enable: true
  open_in_new: true
filename_case: 0
render_drafts: false
post_asset_folder: false
relative_link: false
future: true
highlight:
  enable: true
  line_number: false
  auto_detect: false
  tab_replace: '  '
  wrap: true
  hljs: false
prismjs:
  enable: false
  preprocess: true
  line_number: true
  tab_replace: ''

# Home page setting
# path: Root path for your blogs index page. (default = '')
# per_page: Posts displayed per page. (0 = disable pagination)
# order_by: Posts order. (default = -date)
index_generator:
  path: ''
  per_page: 10
  order_by: -date

# Generator
generator:
  posts: true
  pages: true
  categories: true
  tags: true
  archives: true

# Category & Tag
default_category: uncategorized
category_map:
tag_map:

# Metadata Elements
meta_generator: true

# Date / Time format
date_format: YYYY-MM-DD
time_format: HH:mm:ss
updated_option: 'mtime'

# Pagination
per_page: 10
pagination_dir: page

# Include / Exclude file(s)
include:
exclude:
ignore:

# Extensions
## Plugins: https://hexo.io/plugins/
## Themes: https://hexo.io/themes/
theme: landscape

# Deployment
## Docs: https://hexo.io/docs/deployment.html
deploy:
  type: git
  repo: https://github.com/kaicmf/yntc.git
  branch: gh-pages
